* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  color: white;
}

body {
  background-image: url("./img/cloud.jpg");
  font-family: 'Poppins', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.localization {
  margin-top: 5rem;
  display: flex;
  font-size: 2rem;
  flex-wrap: wrap;
  font-size: 3rem;
}

.localization__name {
  margin-right: 3rem;
  cursor: pointer;
  flex-basis: 30%;
}

.localization__boxName {
  display: flex;
  flex-basis: 100%;
}

.localization__tempC {
  font-size: 13rem;
  display: flex;
  align-items: center;
}

.localization__deg {
  margin-left: 1.5rem;
  font-size: 5rem;
}

.localization__deg:first-child::before {
  content: "\00b0";
  display: inline-block;
  width: 30px;
}

.localization__boxDeg {
  display: flex;
  flex-direction: column;
}

.localization__deg--small {
  font-size: 3rem;
  opacity: 30%;
  border-top: 1px solid #e6e6e6;
  text-align: right;
  padding-right: .5rem;
  position: relative;
  user-select: none;
  cursor: pointer;
}

.localization__deg--small::before {
  content: "\00b0";
  display: inline-block;
  width: 30px;
}

.localization__condition {
  font-size: 4rem;
  margin-left: 4rem;
}

.localization__data {
  font-size: 1.5rem;
  columns: 2;
}

.localization__feel::after {
  content: "\00b0";
  display: inline-block;
  width: 30px;
}

.temperature {
  flex-basis: 100%;
}

.days {
  display: flex;
}

.days__box {
  font-size: 1.5rem;
}

.days__temp--desc {
  font-size: 1.9rem;
}

.ss {
  margin: 0 6rem;
}
