* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  color: white;
}

body {
  background-image: url("./img/cloud.jpg");
  font-family: 'Poppins', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.localization {
  margin-top: 5rem;
  display: flex;
  font-size: 2rem;
  flex-wrap: wrap;
  font-size: 3rem;
}

.localization__name {
  margin-right: 3rem;
  cursor: pointer;
  flex-basis: 30%;
}

.localization__tempC {
  flex-basis: 100%;
  font-size: 13rem;
  display: flex;
  align-items: center;
}

.localization__deg {
  margin-left: 1.5rem;
  font-size: 5rem;
}

.localization__deg:first-child::before {
  content: "\00b0";
  display: inline-block;
  width: 30px;
}

.localization__boxDeg {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.localization__degF {
  font-size: 3rem;
  opacity: 30%;
  border-top: 1px solid #e6e6e6;
  text-align: right;
  padding-right: .5rem;
  position: relative;
}

.localization__degF::before {
  content: "\00b0";
  display: inline-block;
  width: 30px;
  position: absolute;
  left: 20%;
}
